a {
    color: inherit !important;
    text-decoration: none !important;
}

.header h2 {
    position: absolute;
    z-index: 1;
    font-family: 'Caveat', cursive;
    color: white;
    font-weight: bold;
    
    font-size: 10em;
    text-align: center;
    
    left: 0;
    right: 0;
    margin: 1em auto;

    text-shadow: 0 0 0.25em black, 0 0 0.25em black,  0 0 0.25em black;
}

.header img {
    position: relative;
    width: 100%;
    box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 0.25);
    border-radius: 0 0 10em 10em;
}

.card {
    font-family: 'Sofia Sans', sans-serif !important;

    margin: 3em;
    padding: 2.5em;

    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    border-radius: 5em !important;
}

.card img {
    border-radius: 4em;
}

.card h2 {
    font-size: 6em;
    text-align: center;
    font-weight: bold;
    margin: 0.5em auto;
}

.card h4 {
    font-size: 5em;
}

.card h4 p {
    display: inline-block;
    font-size: 0.75em;
    color: gray;
}

.card a {
    background-color: #E3B876;
    padding: 0.15em 0.25em;
    font-size: 5em;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: 0;
    text-align: right;

    transition: all ease-in-out 0.25s;
}

.card a:active {
    background-color: #a78554;
}


.bottom {
    background-color: #E3B876;
    padding: 1em;
    border-radius: 10em 10em 0 0;
}

.bottom h3 {
    font-family: 'Sofia Sans', sans-serif !important;
    font-weight: bold;
    font-size: 6em;
    text-align: center;
}

.bottom img {
    width: 20em;
}